<section>
    <div class="container">
        <ul>
            {{!-- {{#each}} --}}
            <li class="card mt-2">
                <div class="card-body">
                    <div class="row">
                        <h5 class="card-title col-6">Blog post title</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary col-6 text-end">Posted by 'username' on 'date'</h6>
                    </div>
                    <p class="card-text">Blog post body</p>
                </div>
            </li>
            {{!-- {{/each}} --}}
        </ul>
    </div>
</section>