<section>
    <form class="container">
        <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="input" class="form-control" id="inputUsername">
        </div>
        <div class="mb-3">
            <label class="form-label">Email address</label>
            <input type="email" class="form-control" id="inputEmail">
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword">
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</section>
<script src="/js/signup.js"></script>